*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  background: rgb(238, 238, 238);
}

main {
  padding: 4rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 2rem;
}

form {
  display: flex;
  width: 100%;
  gap: 1rem;

  .input-group:first-child {
    flex-grow: 1;
  }

  .input-family {
    display: flex;
    gap: 0.25rem;
    background: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 9999px;
    align-items: center;

    .vr {
      width: 1px;
      height: 50%;
      background-color: rgb(209, 209, 209);
      flex-shrink: 0;
    }

    select {
      border: none;
      background: none;
      width: max-content;
    }
  }

  input[type="text"],
  select,
  input[type="time"] {
    border: 1px solid rgb(209, 209, 209);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: 100%;
  }

  input[type="text"],
  button {
    border-radius: 9999px;
  }

  input[type="text"] {
    width: 100%;
  }

  button {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    transition: all 0.2s;
    background: red;

    &.inactive {
      background-color: rgb(193, 193, 193);
    }

    &.active {
      background-color: rgb(151, 184, 194);
      cursor: pointer;

      &:hover {
        background: rgb(169, 201, 211);
      }
    }
  }
}

.schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.schedule__column {
  display: grid;
  grid-template-rows: auto 1fr;
  flex-shrink: 0;
  flex-grow: 0;

  &:not(:last-of-type) {
    border-right: 2px solid rgb(209, 209, 209);
  }

  > * {
    max-width: 100%;
    min-width: 0;
    overflow-wrap: break-word;
  }

  &__title {
    font-weight: bold;
    border-bottom: 2px solid rgb(209, 209, 209);
    width: 100%;
    padding: 0px 1rem 1rem;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }
}

.schedule__element {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(209, 209, 209);
    margin-bottom: 0.5rem;
  }

  &__time {
    font-size: 0.75rem;
  }

  &__title,
  & input[type="text"] {
    overflow-wrap: break-word;
    width: 100%;
  }

  &__title {
    margin-bottom: 0.5em;
  }

  .time-edit {
    max-width: 100%;
    display: flex;
    gap: 0.25em;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
  }

  select {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
  }

  input[type="text"] {
    border: 1px solid rgb(209, 209, 209);
    padding: 0.25em 0.5em;
    border-radius: 5px;
    margin-bottom: 0.5em;
    max-width: 100%;
  }

  .buttons {
    display: flex;
    gap: 0.5em;
  }
  button {
    border: 1px solid rgb(151, 184, 194);
    background: none;
    padding: 0.25em 0.5em;
    border-radius: 9999px;
    cursor: pointer;

    &.save {
      flex-grow: 1;
      border: none;
      background: rgb(151, 184, 194);
    }

    &.delete {
      border: 1px solid rgb(227, 139, 139);
      background: none;
      color: rgb(92, 34, 34);
    }
  }
}
