*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  background: rgb(238, 238, 238);
}

main {
  padding: 4rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 2rem;
}

form {
  display: flex;
  width: 100%;
  gap: 1rem;

  .input-group:first-child {
    flex-grow: 1;
  }

  .input-family {
    display: flex;
    gap: 0.25rem;
    background: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 9999px;
    align-items: center;

    .vr {
      width: 1px;
      height: 50%;
      background-color: rgb(209, 209, 209);
      flex-shrink: 0;
    }

    select {
      border: none;
      background: none;
      width: max-content;
    }
  }

  input[type="text"],
  select,
  input[type="time"] {
    border: 1px solid rgb(209, 209, 209);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: 100%;
  }

  input[type="text"],
  button {
    border-radius: 9999px;
  }

  input[type="text"] {
    width: 100%;
  }

  button {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    transition: all 0.2s;
    background: red;

    &.inactive {
      background-color: rgb(193, 193, 193);
    }

    &.active {
      background-color: rgb(151, 184, 194);
      cursor: pointer;

      &:hover {
        background: rgb(169, 201, 211);
      }
    }
  }
}

.schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

.schedule__column {
  border: 1px solid rgb(209, 209, 209);
  background: rgb(246, 246, 246);
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr;
  flex-shrink: 0;
  flex-grow: 0;

  &__title {
    font-weight: bold;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.schedule__element {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(209, 209, 209);
    margin-bottom: 0.5rem;
  }

  &__time {
    font-size: 0.75rem;
  }

  // &__title {
  //   overflow-wrap: break-word;
  //   width: min-content;
  // }

  &__remove {
    background: rgb(255, 255, 255);
    border: none;
    width: 1rem;
    justify-self: end;
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid rgb(226, 226, 226);
    cursor: pointer;
    transition: all 0.2s;
    aspect-ratio: 1;

    &:hover {
      background: rgb(226, 226, 226);
    }
  }
}
